.reserveSpot {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  background: #292d32;
  box-shadow: 0px 4px 44px 0px #292d32;
  padding: 18px 14px;
  width: calc(100vw - 32px);
  max-width: 478px;
  z-index: 7;
  height: calc(100vh - 80px);
  overflow: auto;
}

.modalsSection {
  padding: 50px 0;
}

.reserveSpot::-webkit-scrollbar {
  width: 4px;
  background-color: #383636;
}

.reserveSpot::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.reserveSpot .main {
  padding-left: 16px;
  padding-right: 16px;
}

.reserveSpot .main .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(214, 237, 255, 0.8);
  text-align: center;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  text-transform: capitalize;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(000, 0, 0, 0.2);
  z-index: 7;
}

.cross {
  cursor: pointer;
}

.tablesModal .cross {
  position: absolute;
  right: 20px;
  top: 20px;
}

.reserveSpot .main .enabledBoxes {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.green {
  color: #1ced86;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
}

.reserveSpotDescription {
  max-width: 310px;
  margin: 28px auto 13px;
  position: relative;
}

.reserveSpotDescription img {
  position: absolute;
  left: -20px;
  top: 5px;
}

.box {
  border-radius: 10px;
  background: #2a3035;
  padding: 6px 14px;
  max-width: 410px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}

.amounts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d6edff;
  font-size: 11px;
  opacity: 0.5;
  margin-top: 6px;
}

.box .head {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}

.box .amount {
  color: rgba(214, 237, 255, 0.8);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.box .max {
  color: #f6fbff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.box .numbers {
  border-radius: 6px;
  background: rgba(214, 237, 255, 0.12);
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .num {
  color: #d6edff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
}

.box .unit {
  color: #d6edff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box .additionalInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: rgba(214, 237, 255, 0.5);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 8px;
}

.box .additionalInfo .green {
  color: rgba(28, 237, 134, 0.6);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.confirm {
  border-radius: 10px;
  background: #1ced86;
  height: 49px;
  width: 100%;
  color: #18332e;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 185.714% */
  text-transform: capitalize;
}

.row1 {
  padding: 16px;
}

.percent {
  border-radius: 20px;
  background: #e8ffce;
  width: 55px;
  height: 52px;
  color: #0f381d;
  text-align: center;
  font-family: ZCOOL XiaoWei;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.percent h3 {
  color: #0f381d;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
  text-transform: capitalize;
}

.tablesModal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  box-shadow: 0px 4px 44px 0px #292d32;
  width: calc(100vw - 32px);
  max-width: 1116px;
  z-index: 7;
  height: calc(100vh - 80px);
  overflow: auto;
  background: #242b33;
}

.tablesModal .row1 {
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(0deg, #242b33 0%, #242b33 100%), #242b33;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #000;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .tablesModal .row1 {
    flex-direction: column;
    align-items: center;
  }
}

.tablesModal .row1 .stats,
.otherRows .row .stats {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.otherRows .row .stats {
  border-radius: 10px;
  border: 1px solid rgba(232, 255, 206, 0.5);
}

@media screen and (max-width: 1024px) {
  .tablesModal .row1 .stats,
  .otherRows .row .stats {
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.tablesModal .row1 .stats .item,
.otherRows .row .stats .item {
  width: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  height: 70px;
  color: rgba(228, 245, 255, 0.8);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tablesModal .row1 .stats h6,
.otherRows .row .stats .item h6 {
  color: #e4f5ff;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.back {
  border-radius: 15px;
  background: #303a46;
  display: flex;
  width: 145px;
  height: 45px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  padding: 0 10px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.back img {
  transform: translateY(4px);
}

.tabs {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .tabs {
    gap: 60px;
  }
}

@media screen and (max-width: 640px) {
  .tabs {
    flex-direction: column;
    gap: 20px;
  }
}

.tabs .tab {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
  text-transform: capitalize;
  background-color: transparent;
  display: flex;
  gap: 8px;
  position: relative;
}

.tabs .tab::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: transparent;
  bottom: -10px;
  left: 0;
}

.tabs .tab.active {
  color: #c1ffe9;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
  text-transform: capitalize;
}

.tabs .tab.active::after {
  background-color: #1cede0;
}

.tabs .tab .number {
  border-radius: 20px;
  background: #059dff;
  display: flex;
  width: 32px;
  height: 20px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.otherRows .row {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  gap: 20px;
  align-content: center;
  margin-bottom: 15px;
}

@media screen and (max-width: 1024px) {
  .otherRows .row {
    flex-direction: column;
    align-items: center;
  }
}

.withdraw {
  border-radius: 16px;
  background: #229ec5;
  display: flex;
  width: 130px;
  height: 45px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #18332e;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 168.75% */
  text-transform: capitalize;
}

.lock {
  border-radius: 16px;
  background: #1dfe8e;
  display: flex;
  width: 130px;
  height: 45px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #18332e;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 168.75% */
  text-transform: capitalize;
}

.actions {
  display: flex;
  align-items: center;
  gap: 32px;
}

@media screen and (max-width: 640px) {
  .actions {
    flex-direction: column;
    gap: 10px;
  }
}

.foot {
  padding: 20px 0 40px;
  display: flex;
  justify-content: center;
}

.btn {
  border-radius: 15px;
  background: #303a46;
  display: flex;
  width: 145px;
  height: 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  padding: 0 10px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin: 1rem auto;
  text-align: center;
  width: 145px;
}
