.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.btnWhiteOutlined {
  border: 2px solid #fff;
  border-radius: 15px;
  height: 46px;
  width: 322px;
  background-color: transparent;
  color: #fff;
}

.btnGreen {
  border: 2px solid #1ced86;
  background-color: #233f3b;
  height: 42px;
  width: 179px;
  border-radius: 100px;
  color: #1ced86;
  position: relative;
}

.btnGreen img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -16px;
}

.projects {
}

.projects .projectCard .projectCardHead {
  padding: 12px 20px;
}

.projects .projectCard .projectCardHead .top {
  display: flex;
  justify-content: space-between;
}

.projects .projectCard .projectCardHead .top .left {
  display: flex;
  gap: 10px;
}

.projects .projectCard .projectCardHead .top .left .title {
  font-size: 16px;
  color: #e5f3ff;
  font-weight: bold;
  margin-bottom: 6px;
  padding-top: 12px;
}

.projects .projectCard .projectCardHead .top .left .subTitle {
  display: flex;
  align-items: center;
  gap: 2px;
}

.projects .projectCard .projectCardHead .top .right .approx {
  font-size: 12px;
  color: #e5f3ff;
  text-align: right;
  margin-top: 10px;
}

.projects .projectCard .projectCardHead p {
  margin-top: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.75;
}
